

.contenedor{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("../img/Flat_openSpace_offices_15.jpg");
}


.cuadroM{
    width: 50% ;
    height: 500px;
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.car{
    margin-top: 100px;
}

#tarjeta{
    background-color: antiquewhite;
}

#logosena{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;

}
